<header>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">MDM Dashboard</a>
    </div>
    <ul class="nav navbar-nav">
	    <li><a routerLink="/">Home</a></li>
	    <li><a routerLink="/login">Sign In</a></li>
	    <li><a routerLink="/signup">Sign Up</a></li>
	    <li><a routerLink="/addprofile">Add Profile</a></li>
	    <li><a routerLink="/dashboard">My Dashboard</a></li>
	    <li><a routerLink="/customplot">Add Custom Plot</a></li>
	    <li><a routerLink="/dashsetting">Dashboard Settings</a></li>
	    <li><a routerLink="/businessrule">Add Business Rulez</a></li>
  	</ul>
  </div>
</nav>
</header>